.form {
  margin: 5rem auto 0;
  text-align: center;

  &__input {
    font-size: 1.2rem;
    color: $text-color;
    padding-left: 8px;
    width: 600px;
    height: 3rem;
    border-radius: 7px;
    border: none;
  }

  &__input:focus-visible {
    outline: none;
    box-shadow: 8px 9px 9px 0px rgba(0, 0, 0, 0.16);
  }

  &__btn {
    border-color: $special-color;
    background-color: $special-color;
    margin-left: 0.8rem;
  }

  &__btn, &__special-btn {
    width: 130px;
    height: 3rem;
    align-self: center;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
  }
  
  &__btn:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  }

  &__random-btn {
    margin: 2rem 0 0 0;
    text-align: left;
  }

  &__special-btn {
    background-color: #E07275;
    border-color: #E07275;
  }
  
  &__special-btn:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  }
}
