.spinner {
  border: 0.7rem solid #f3f3f3; /* Light grey */
  border-top: 0.7rem solid $special-color;
  border-bottom: 0.7rem solid $special-color;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.information {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
}
