$text-color: #31494f;
$special-color: #4a7989;

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #CFE3E8;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@import "norm";
@import "header";
@import "content";
@import "information";
@import "form";
