html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #CFE3E8;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.str0 {
  stroke: #4a7989;
  stroke-width: 0.39;
  stroke-miterlimit: 22.9256;
}

.fil1 {
  fill: #FFDBB8;
}

.fil2 {
  fill: #e6c6a7;
}

.fil0 {
  fill: #4a7989;
}

.fil3 {
  fill: #6e8e99;
}

.fil4 {
  fill: #3c616d;
}

.svg {
  margin-left: 2%;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  width: 5rem;
  height: 6rem;
}

.header {
  display: flex;
  align-items: center;
}
.header__wrap {
  background-color: #f0f8ff;
}
.header__title {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 900;
  color: #4a7989;
}
.header__logo {
  display: flex;
  align-items: center;
}

.content {
  margin: 3rem auto 0;
  padding: 0 140px 5rem 140px;
}
.content__item {
  font-size: 1.5rem;
  font-family: "Cormorant Unicase", serif;
  color: #31494f;
  font-weight: 700;
  padding: 1rem 0 1rem 1rem;
  background-color: #ffffff;
  margin-top: 0.8rem;
}
.content__href {
  text-decoration: none;
}
.content__item:hover {
  box-shadow: 8px 9px 9px 0px rgba(0, 0, 0, 0.16);
}

.spinner {
  border: 0.7rem solid #f3f3f3; /* Light grey */
  border-top: 0.7rem solid #4a7989;
  border-bottom: 0.7rem solid #4a7989;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.information {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.form {
  margin: 5rem auto 0;
  width: 745px;
  text-align: center;
}
.form__input {
  font-size: 1.2rem;
  color: #31494f;
  padding-left: 8px;
  width: 600px;
  height: 3rem;
  border-radius: 7px;
  border: none;
}
.form__input:focus-visible {
  outline: none;
  box-shadow: 8px 9px 9px 0px rgba(0, 0, 0, 0.16);
}
.form__btn {
  border-color: #4a7989;
  background-color: #4a7989;
  margin-left: 0.8rem;
}
.form__btn, .form__special-btn {
  width: 130px;
  height: 3rem;
  align-self: center;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}
.form__btn:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.form__random-btn {
  margin: 2rem 0 0 0;
  text-align: left;
}
.form__special-btn {
  background-color: #E07275;
  border-color: #E07275;
}
.form__special-btn:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=index.css.map */